<template>
  <form class='login-form' method='post' @submit.prevent='submit'>
    <h3 class='form-title font-green'>Sign In</h3>
    <div class='alert alert-danger display-hide'>
        <button class='close' data-close='alert'></button>
        <span> Enter any username and password. </span>
    </div>
    <div class='form-group'>
      <label class='control-label visible-ie8 visible-ie9'>Username</label>
      <input class='form-control form-control-solid placeholder-no-fix' type='text' autocomplete='off' placeholder='Username' v-model='credentials.username' />
    </div>
    <div class='form-group'>
      <label class='control-label visible-ie8 visible-ie9'>Password</label>
      <input class='form-control form-control-solid placeholder-no-fix' type='password' autocomplete='off' placeholder='Password' v-model='credentials.password' />
    </div>
    <div class='form-actions'>
      <button type='submit' class='btn green uppercase'>Login</button>
      <label class='rememberme check mt-checkbox mt-checkbox-outline'>
        <input type='checkbox' name='remember' value='1' />Remember
        <span />
      </label>
      <a href='javascript:;' id='forget-password' class='forget-password'>Forgot Password?</a>
    </div>
    <!--
    <div class='create-account hide'>
      <p><a href='javascript:;' id='register-btn' class='uppercase'>Create an account</a></p>
    </div>
    -->
  </form>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

const mixin = {
  getters: mapGetters({
    auth: 'user/auth',
  }),
  actions: mapActions({
    authenticate: 'user/authenticate',
  })
}

export default {
  data() {
    return {
      credentials: {
        username: 'ronaldocubillo@gmail.com',
        password: 'password',
      },
    }
  },
  computed: {
    ...mixin.getters,
  },
  mounted() {
    /*if (this.auth) {
      this.redirect('home');
    }*/
  },
  methods: {
    ...mixin.actions,
    submit() {
      this.authenticate(this.credentials)
        .then(response => {
          this.redirect('home');
        });
    },
    redirect(route) {
      this.$router.push(route);
    }
  }
}
</script>
