@import 'metronic';

$fa-font-path: '/static/fonts/font-awesome';
$simple-line-font-path: '/static/fonts/simple-line-icons/';

@import "~font-awesome/scss/font-awesome";
@import "~simple-line-icons/scss/simple-line-icons";

@import "~selectize/dist/css/selectize";
@import "~selectize/dist/css/selectize.bootstrap3";

@import "~sweetalert/dist/sweetalert";

@import "~fullcalendar/dist/fullcalendar";
@import "global/plugins/_fullcalendar";

@import "typeahead";

a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}

.padding-10 { padding: 10px; }

/*.list-hover li .btn-group { display: none; }
.list-hover li:hover .btn-group { display: block; }*/
