<template>
  <div class='portlet light bordered'>
    <div class='portlet-body'>
      <tabs>
        <tab :options="{ id: 'profile', title: 'Profile', active: true }"><profile /></tab>
        <tab :options="{ id: 'credential', title: 'Credential' }"><credential /></tab>
        <tab :options="{ id: 'other', title: 'Other Details' }"><other-details /></tab>
        <!-- <tab :options="{ id: 'education', title: 'Education' }"><education /></tab> -->
        <!-- <tab :options="{ id: 'internship', title: 'Internship / Residency' }"><internship /></tab> -->
        <!-- <tab :options="{ id: 'position', title: 'Academic / Admin Position' }"><position /></tab> -->
        <!-- <tab :options="{ id: 'induction', title: 'Induction Information' }"><induction /></tab> -->
        <!-- <tab :options="{ id: 'society', title: 'Society Affillation' }"><society /></tab> -->
        <!-- <tab :options="{ id: 'exam', title: 'Exam Information' }"><exam /></tab> -->
        <!-- <tab :options="{ title: 'Member Data Sheet' }"></tab> -->
      </tabs>
    </div>
  </div>
</template>
<script>
import { Tabs, Tab } from '@/components/Material';
import Profile from './Profile';
import Credential from './Credential';
import OtherDetails from './OtherDetails';
// import Education from './Education/List';
// import Internship from './Internship/List';
// import Position from './Position/List';
// import Induction from './Induction/List';
// import Society from './Society/List';
import Exam from './Exam/List';

export default {
  components: {
    Tabs, Tab,
    Profile,
    Credential,
    OtherDetails,
    // Education,
    // Internship,
    // Position,
    // Induction,
    // Society,
    Exam,
  },
}
</script>
