<template>
  <div>
    <br />
    <education />
    <internship />
    <position />
    <induction />
    <society />
  </div>
</template>
<script>
// import Portlet from '@/components/Portlet/Index';
import Education from './Education/List';
import Internship from './Internship/List';
import Position from './Position/List';
import Induction from './Induction/List';
import Society from './Society/List';

export default {
  components: {
    // Portlet,
    Education,
    Internship,
    Position,
    Induction,
    Society,
  },
}
</script>
