<template>
  <div class='profile'>
    <div class='row'>
      <div class='col-md-8 profile-info'>
        <h1 class='font-green sbold uppercase' v-text='member.name'></h1>
        <div class='profile-desc-text'>
          <p v-text='member.address.full'></p>
          <table class='table -table-bordered'>
            <tbody>
              <tr>
                <td width='180'><strong>PRC #</strong></td>
                <td v-text='credential.prc_no'></td>
              </tr>
              <tr>
                <td><strong>Membership Status</strong></td>
                <td v-text='mstatus(member.membership_status_id).name'></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <ul class='list-inline'>
          <li><i class='fa fa-calendar'></i><span v-text='member.birthday'></span></li>
          <li><i class='fa fa-heart'></i><span v-text='category(member.category_id).name'></span></li>
          <li><i class='fa fa-briefcase'></i> <span v-text='subspecialty(member.subspecialty_id).name'></span></li>
          <li><i class='fa fa-map-marker'></i><span v-text='nationality(member.nationality_id).name'></span></li>
        </ul>
      </div>
      <div class='col-md-4'>
        <div class='portlet sale-summary'>
          <div class='portlet-title'>
            <div class='caption font-green'>Contact Details</div>
          </div>
          <div class='portlet-body'>
            <div class='margin-top-20 profile-desc-link'>
              <i class='fa fa-envelope-o'></i><span v-text='member.contact.email'></span>
            </div>
            <div class='margin-top-20 profile-desc-link'>
              <i class='fa fa-phone'></i>
              <span v-text='member.contact.office_no'></span> /
              <span v-text='member.contact.home_no'></span>
            </div>
            <div class='margin-top-20 profile-desc-link'>
              <i class='fa fa-mobile'></i><span v-text='member.contact.mobile_no'></span>
            </div>
            <div class='margin-top-20 profile-desc-link'></div>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class='profile-stat'>
        <activity-summary />
      </div> -->
    <div class='tabbable-line'>
      <ul class='nav nav-tabs'>
        <li class='active'><a href='#member-payments' data-toggle='tab'>Payment History</a></li>
        <li><a href='#member-dues' data-toggle='tab'>Annual Dues</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='member-payments'>
          <table class='table table-striped table-bordered table-advance table-hover'>
            <thead>
              <tr>
                <!-- <th>Transaction #</th> -->
                <th>OR #</th>
                <th>OR Source</th>
                <th>Date of Payment</th>
                <th class='text-right'>Amount Paid</th>
                <th>Mode of Payment</th>
                <th>Bank / Branch</th>
                <!-- <th>Paid by</th> -->
              </tr>
            </thead>
            <tbody>
              <tr v-for='item in payments'>
                <!-- <td v-text='item.transaction_no'></td> -->
                <td v-text='item.or_no'></td>
                <td v-text='chapter(item.chapter_id).name'></td>
                <td v-text='item.payment_date'></td>
                <td v-text='item.amount' class='text-right'></td>
                <td v-text='mode(item.mode_id).name'></td>
                <td v-text='item.bank_branch'></td>
                <!-- <td v-text='item.member_id'></td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class='tab-pane' id='member-dues'>
          <table class='table table-striped -table-bordered table-advance table-hover'>
            <thead>
              <tr>
                <th>Dues Year</th>
                <th class='text-right'>Amount Dues</th>
                <th class='text-right'>Amount Paid</th>
                <th class='text-right'>Balance</th>
                <th class='text-center'>Status</th>
                <th class='text-center'>Date Paid</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='item in []'>
                <td v-text='item.year_from'></td>
                <td v-text='item.amount' class='text-right'></td>
                <td v-text='item.amount_paid' class='text-right'></td>
                <td v-text='item.balance' class='text-right'></td>
                <td v-text='status(item.status_id).name' class='text-center'></td>
                <td v-text='item.date_paid' class='text-center'></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  mixins: [{
    computed: mapGetters({
      member: 'member/current',
      credential: 'member/credential/current',

      nationality: 'nationality/find',
      mstatus: 'catalog/membership-status/find',
      chapter: 'catalog/member-chapter/find',
      category: 'catalog/member-category/find',
      subspecialty: 'catalog/subspecialty/find',

      payments: 'finance/member/payment/result',
      status: 'finance/catalog/due-status/find',
      mode: 'finance/catalog/payment-mode/find',
      // dues: 'finance/member/due/result',
    }),
  }],
}
</script>
