<template>
  <div class='portlet light'>
    <div class='portlet-title tabbable-line'>
      <div class='caption'>
        <span class='caption-subject font-blue-madison bold uppercase'>Payments</span>
      </div>
      <ul class='nav nav-tabs'>
        <li class='active'><a href='#tab_1_1' data-toggle='tab'>Payment History</a></li>
        <li><a href='#tab_1_2' data-toggle='tab'>Dues Payment History</a></li>
      </ul>
    </div>
    <div class='portlet-body'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Transaction #</th>
            <th>Date of Payment</th>
            <th>OR #</th>
            <th>OR Source</th>
            <th class='text-right'>Amount Paid</th>
            <th>Mode of Payment</th>
            <th>Name of Bank</th>
            <th>Paid by</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='item in payments'>
            <td v-text='item.transaction_no'></td>
            <td v-text='item.payment_date'></td>
            <td v-text='item.or_no'></td>
            <td></td>
            <td v-text='item.amount_paid' class='text-right'></td>
            <td v-text='mode(item.mode_id).name'></td>
            <td v-text='item.bank_branch'></td>
            <td v-text='item.member_id'></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

const mixin = {
  getters: mapGetters({
    payments: 'finance/member/payment/result',
    mode: 'finance/catalog/payment-mode/find',
  }),
}

export default {
  components: {
    // 'payment-history': require('@/components/payments/history'),
  },
  computed: {
    ...mixin.getters,
  },
}
</script>
