<template>
  <form @submit.prevent='submit(model)'>
    <br />
    <grid>
      <grid-row title='Basic Information' bg='blue-oleo'>
        <control label='Title' v-model='model.title' />
        <div class='row'>
          <div class='col-md-4'><control label='First Name *' v-model='model.first_name' :error='errors.first_name' /></div>
          <div class='col-md-4'><control label='Last Name *' v-model='model.last_name' :error='errors.last_name' /></div>
          <div class='col-md-4'><control label='Middle Name' v-model='model.middle_name' /></div>
        </div>
        <control label='Extension Name' v-model='model.extension_name' />
      </grid-row>
      <grid-row title='Personal Information'>
        <div class='row'>
          <div class='col-md-4'>
            <control label='Gender'>
              <selectize v-model='model.gender' :options='genders' />
            </control>
          </div>
          <div class='col-md-4'>
            <control label='Birthday'><datepicker v-model='model.birthday' /></control>
          </div>
          <div class='col-md-4'>
            <control label='Nationality'><selectize v-model='model.nationality_id' options='nationality' preload /></control>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <control label='Marital Status'>
              <selectize v-model='model.marital_status_id' options='catalog/marital-status' preload />
            </control>
          </div>
          <div class='col-md-8'><control label='Spouse Name' v-model='model.spouse_name' /></control></div>
        </div>
      </grid-row>
      <grid-row title='Membership Details' bg='blue-chambray'>
        <control label='Membership Status'>
          <selectize v-model='model.membership_status_id' options='catalog/membership-status' preload />
        </control>
        <control label='Chapter'>
          <selectize v-model='model.chapter_id' options='catalog/member-chapter' preload />
        </control>
        <control label='Category'>
          <selectize v-model='model.category_id' options='catalog/member-category' preload />
        </control>
        <control label='Year Inducted as Member' v-model='model.year_inducted' />
        <control label='Subspecialty'>
          <selectize v-model='model.subspecialty_id' options='catalog/subspecialty' preload />
        </control>
        <control label='Remarks'><textarea class='form-control' rows='5' v-model='model.remarks' /></control>
      </grid-row>
      <grid-row title='Adress/Contact Information' bg='blue-oleo'>
        <address-form v-model='model.address' :errors='errors.address' />
        <fieldset>
          <legend>Contact</legend>
          <contact-form v-model='model.contact' :errors='errors.contact' />
        </fieldset>
      </grid-row>
    </grid>
    <hr />
    <div class='pull-right'>
      <button type='submit' class='btn btn-primary'><i class='fa fa-check'></i> Save information</button>
    </div>
  </form>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import ModelMixin from '@/mixins/model';
import { Grid, GridRow, GridCol } from '@/components/Material';
import { Control, Datepicker, Selectize } from '@/components/Material/FormElement';
import AddressForm from '@/components/Form/AddressForm';
import ContactForm from '@/components/Form/ContactForm';

export default {
  components: { Grid, GridRow, GridCol, Control, Datepicker, Selectize, AddressForm, ContactForm },
  mixins: [ModelMixin, {
    computed: mapGetters({
      form: 'member/current',
    }),
    methods: mapActions({
      save: 'member/save',
    }),
  }],
  created() {
    this.edit(this.form);
  },
  watch: {
    form(form) {
      this.edit(form);
    }
  },
  data() {
    return {
      genders: [
        { id: 'M', name: 'Male', },
        { id: 'F', name: 'Female', },
      ],
    }
  },
}
</script>
