<template>
  <modal ref='modal' title='Fees' size='modal-lg'>
    <input v-model='query' type='text' class='form-control' placeholder='Search fees...'>
    <hr />
    <table class='table'>
      <thead>
        <tr>
          <th>Particulars</th>
          <th>Amount</th>
          <th>Deadline</th>
          <th>Fees Before</th>
          <th>Fees Before</th>
          <th>Fees Before</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='item in fees'>
          <td v-text='item.particulars'></td>
          <td v-text='item.amount'></td>
          <td v-text='item.deadline'></td>
          <td v-text='item.fees_Before'></td>
          <td v-text='item.fees_Before'></td>
          <td v-text='item.fees_Before'></td>
        </tr>
      </tbody>
    </table>
    <div slot='modal-footer'>
      <button type='button' class='btn btn-primary' :disabled='!selected' @click=''>Select fee</button>
      <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
    </div>
  </modal>
</template>
<script>
import { Modal } from '@/components/Material';

export default {
  components: { Modal, },
  data() {
    return {
      selected: null,
      query: null,
      fees: [],
    }
  },
  methods: {
    open() {
      this.$refs['modal'].show();
    },
  }
}
</script>
