<template>
  <form @submit.prevent="submit(model)">
    <div class='alert alert-success' v-if='notification' v-text='notification'></div>
    <div class='row'>
      <div class='col-md-8'>
        <!-- <div class='row'>
          <div class='col-md-6'><control label='Transaction # *' v-model='model.transaction_no' :error='errors.transaction_no' /></div>
          <div class='col-md-6'><control label='Reference #' v-model='model.reference_no' :error='errors.reference_no' /></div>
        </div> -->
        <div class='row'>
          <div class='col-md-4'><control label='Official Receipt # *' v-model='model.or_no' :error='errors.or_no' /></div>
          <div class='col-md-5'>
            <control label='Chapter/OR Source' :error='errors.chapter_id'>
              <selectize v-model='model.chapter_id' @change='' options='catalog/member-chapter' preload />
            </control>
          </div>
          <div class='col-md-3'>
            <control label='DOP (Date of Payment)' :error='errors.payment_date'>
              <datepicker v-model='model.payment_date' />
            </control>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-3'>
            <control label='Payer Type *' :error='errors.payer_type_id'>
              <selectize v-model='model.payer_type_id' @change='' options='finance/catalog/payer-type' preload />
            </control>
          </div>
          <div class='col-md-3'>
            <control label='Member' :error='errors.member_id'>
              <selectize v-model='model.member_id' options='member' preload />
              <!-- <div slot='buttons' class='input-group-btn'>
                <a class='btn btn-success' @click.prevent=''><i class='fa fa-search'></i></a>
              </div> -->
            </control>
          </div>
          <div class='col-md-6'>
            <control label='Paid by *' v-model='model.payer_name' :error='errors.payer_name' />
            <!-- <control label='Sponsor Name'>
              <selectize v-model='model.sponsor_id' options='finance/sponsor' preload />
            </control> -->
          </div>
        </div>
        <control label='Remarks'>
          <textarea class='form-control' rows='3' v-model='model.remarks'></textarea>
        </control>
        <portlet title='Particulars' :icon='null'>
          <div slot='actions'>
            <a class='btn btn-success' @click.prevent='addParticular'><i class='fa fa-plus'></i> Add more particular</a>
          </div>
          <div class='row'>
            <div class='col-md-8'>
              <control label='Particular/Fee' :error='errors.fee_id'>
                <selectize v-model='model.fee_id' options='finance/fee' preload />
                <!-- <div slot='buttons' class='input-group-btn'>
                  <a class='btn btn-success' @click.prevent=''><i class='fa fa-search'></i> Pick Fees</a>
                </div> -->
              </control>
            </div>
            <div class='col-md-4'><control label='Amount *' v-model='model.amount_paid' :error='errors.amount_paid' /></div>
          </div>
          <div v-for='(item, i) in model.particulars'>
            <!-- <a class='btn btn-danger' @click.prevent='removeParticular(i)'>Remove</a> -->
            <particular-form v-model='model.particulars[i]' :errors="get(errors, ['particulars', i], {})" />
          </div>
        </portlet>
      </div>
      <div class='col-md-4'>
        <control label='Mode of payment *' :error='errors.mode_id'>
          <selectize v-model='model.mode_id' options='finance/catalog/payment-mode' preload />
        </control>
        <control label='Bank Name and Branch' v-model='model.bank_branch' :error='errors.bank_branch' />
        <control label='Check #' v-model='model.check_no' :error='errors.check_no' />
        <control label='Check Date' :error='errors.check_date'>
          <datepicker v-model='model.check_date' />
        </control>
        <control label='Check Amount' v-model='model.check_amount' :error='errors.check_amount' />
      </div>
    </div>

    <!-- <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'></div>
      <div class='col-md-4'><control label='PRC #' v-model='model.payer_prc_no' /></div>
    </div>
    <hr /> -->

    <!-- <control label='Location'>
      <selectize v-model='model.location_id' options='location' preload />
    </control> -->

    <!-- <div class='col-md-1 text-right'><span class='caption-subject font-green-sharp bold uppercase'>Total</span></div>
    <div class='col-md-3'><control label='Sponsor Total Payment' v-model='model.sponsor_total_payment' /></div>
    <div class='col-md-3'><control label='Total Payment' v-model='model.total_payment' /></div> -->

    <button class='btn btn-primary'><i class='fa fa-check'></i> Save payment</button>
    <a class='btn btn-default' @click.prevent='create'><i class='fa fa-ban'></i> Reset</a>
    <!-- <member-modal ref='member-modal' @select='' /> -->
    <!-- <fee-modal ref='fee-modal' @select='' /> -->
  </form>
</template>
<script>
import { get } from 'lodash';
import { mapGetters, mapActions } from 'vuex';
import { Portlet } from '@/components/Material';
import { Control, Datepicker, Selectize } from '@/components/Material/FormElement';
import ModelMixin from '@/mixins/model';

import ParticularForm from './ParticularForm';
import MemberModal from './MemberModal';
import FeeModal from './FeeModal';

export default {
  components: {
    Portlet, Control, Datepicker, Selectize,
    ParticularForm, MemberModal, FeeModal,
  },
  mixins: [ModelMixin, {
    computed: mapGetters({
      // mode: 'finance/catalog/payment-mode/find',
    }),
    methods: mapActions({
      save: 'finance/payment/save',
    }),
  }],
  /*data() {
    return {
      errors: {
        particulars: []
      }
    }
  },*/
  computed: {
    form() {
      return {
        transaction_no: null,
        /*
        reference_no: null,
        or_no: null,
        payment_date: null,
        member_id: null,
        payer_name: null,
        */
        mode_id: null,
        particulars: [],
      }
    }
  },
  created() {
    this.create();
  },
  methods: {
    get(object, property) {
      return get(object, property, {});
    },
    addParticular() {
      this.model.particulars.push({});
      // this.errors.particulars.push({});
    },
    removeParticular(i) {
      this.model.particulars.splice(i, 1);
    }
    /*
    openMembers(event) {
      if (event.target || event.name == 'Member') {
        this.$refs['member-modal'].open();
      }
    },
    openFees() {
      this.$refs['fee-modal'].open();
    },
    setMember(member) {
      this.form.member_id = member.id;
      this.form.payer_name = member.name;
      this.form.prc_no = member.credential.prc_no;
    },
    */
  }
}
</script>
