<template>
  <div>
    <div class='input-icon'>
      <i class='icon-magnifier'></i>
      <input type='text'class='form-control' v-model='searchkey' placeholder='Search by official receipt #...' />
    </div>
    <hr />
    <table class='table'>
      <thead>
        <tr>
          <!-- <th>Transaction #</th> -->
          <th>OR #</th>
          <th>OR Source</th>
          <th>Member ID</th>
          <th>Paid By</th>
          <th class='text-right'>Amount Paid</th>
          <th>Particular</th>
          <th>Mode</th>
          <th>Date Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='item in filtered'>
          <!-- <td v-text='item.transaction_no'></td> -->
          <td v-text='item.or_no'></td>
          <td v-text='chapter(item.chapter_id).name'></td>
          <td v-text='item.member_id'></td>
          <td v-text='item.payer_name'></td>
          <td class='text-right' v-text='item.amount'></td>
          <td v-text='item.particular_id'></td>
          <td v-text='mode(item.mode_id).name'></td>
          <td v-text='item.payment_date'></td>
          <td class='text-right'>
            <a class='btn btn-primary'><i class='fa fa-ellipsis-h'></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { toString, includes } from 'lodash';
import { mapGetters, mapActions } from 'vuex';

export default {
  mixins: [{
    computed: mapGetters({
      payments: 'finance/payment/result',
      chapter: 'catalog/member-chapter/find',
      mode: 'finance/catalog/payment-mode/find',
    }),
    methods: mapActions({
      preload: 'finance/payment/preload',
    })
  }],
  data() {
    return { searchkey: '' }
  },
  computed: {
    filtered() {
      return this.payments.filter(item => {
        // return true;
        return this.searchkey ? includes(toString(item.or_no), this.searchkey) : true;
      });
      /*return this.payments.filter(item => {
        return item.or_no.includes(this.searchkey);
      });*/
    }
  },
  mounted() {
    this.preload();
  }
}
</script>
