<template>
  <modal ref='modal' title='Members' size='modal-lg'>
    <input v-model='query' type='text' class='form-control' placeholder='Search members...'>
    <hr />
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='item in members'>
          <td>
            <input type='radio' name='selected' v-model='selected' :value='item.id' />
          </td>
          <td v-text='item.id'></td>
          <td v-text='item.name'></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div slot='modal-footer'>
      <button type='button' class='btn btn-primary' :disabled='!selected' @click='select'>Insert to Payment</button>
      <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
    </div>
  </modal>
</template>
<script>
import { Modal } from '@/components/Material';

export default {
  components: { Modal, },
  data() {
    return {
      selected: null,
      query: '',
    }
  },
  mounted() {
    this.$store.dispatch('member/preload');
  },
  computed: {
    members() {
      return this.$store.getters['member/result'];
    }
  },
  methods: {
    search() {
      return this.members;
    },
    select(item) {
      this.$emit('change', this.members[this.selected]);
      this.$refs['modal'].hide();
    },
    open() {
      this.$refs['modal'].show();
    },
  }
}
</script>
