<template>
  <div class='row'>
    <div class='col-md-8'>
      <control label='Particular/Fee' :error='errors.particular_id'>
        <selectize v-model='model.particular_id' options='finance/fee' preload />
      </control>
    </div>
    <div class='col-md-4'>
      <control label='Amount' v-model='model.amount_paid' :error='errors.amount_paid' />
    </div>
  </div>
</template>
<script>
import { Control, Selectize } from '@/components/Material/FormElement';
import FormMixin from '@/mixins/form';

export default {
  components: { Control, Selectize },
  mixins: [FormMixin],
  methods: {
    create() {
      return {
        particular_id: null, // fee_id
        particular: null,
        amount_paid: null,
      }
    }
  }
}
</script>
