<template>
  <portlet class='light bordered' title='Payments' subtitle='monthly stats...'>
    <div slot='actions'>
      <div class='btn-group'>
        <a class='btn dark btn-outline btn-circle btn-sm dropdown-toggle' data-toggle='dropdown' data-hover='dropdown' data-close-others='true'>
          Filter Range
          <span class='fa fa-angle-down'></span>
        </a>
        <!-- <ul class='dropdown-menu pull-right'>
          <li><a href='javascript:;'> Q1 2014 <span class='label label-sm label-default'> past </span></a></li>
          <li><a href='javascript:;'> Q2 2014 <span class='label label-sm label-default'> past </span></a> </li>
          <li class='active'><a href='javascript:;'> Q3 2014 <span class='label label-sm label-success'> current </span></a></li>
          <li><a href='javascript:;'> Q4 2014 <span class='label label-sm label-warning'> upcoming </span></a></li>
        </ul> -->
      </div>
    </div>
    <line-chart :data='data' />
  </portlet>
</template>
<script>
import { get, map } from 'lodash';
import api from '@/api/auth';
import { Portlet } from '@/components/Material';
import { LineChart } from '@/components/Material/Chart';
import colors, { lighten } from '@/components/Material/Chart/colors';

export default {
  components: { Portlet, LineChart },
  data() {
    return {
      data: {}
    }
  },
  mounted() {
    api.get('/finance/payments/summary/chapter').then(response => {
      this.handle(response.data);
    }).catch(error => {
      // console.log(error);
    });
  },
  methods: {
    handle(data) {
      // @todo:
      const months = ['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Aug', 'Sep'];
      let nth = 0;

      this.data = {
        labels: months,
        datasets: map(data, (item) => {
          return {
            label: get(item, 'chapter.name'),
            data: map(months, (_, index) => {
              return get(item, ['months', index + 1], 0);
            }),
            backgroundColor: lighten(colors, .5)[nth],
            borderColor: colors[nth++],
          }
        }),
        // labels: map(data, 'chapter.name'),
      }
    }
  }
}
</script>
