<template>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li><a href="/home">Home</a> <i class="fa fa-circle"></i></li>
      <li><a href="#">Blank Page</a> <i class="fa fa-circle"></i></li>
      <li><span>Page</span></li>
    </ul>
    <div class="page-toolbar hide">
      <div class="btn-group pull-right">
        <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#"><i class="icon-bell"></i> Action</a></li>
          <li><a href="#"><i class="icon-shield"></i> Another action</a></li>
          <li><a href="#"><i class="icon-user"></i> Something else here</a></li>
          <li class="divider"> </li>
          <li><a href="#"><i class="icon-bag"></i> Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
