<template>
  <div class='page-footer'>
    <div class='page-footer-inner'> 2017 &copy; Philippine College of Physicians
    </div>
    <div class='scroll-to-top'>
      <i class='icon-arrow-up'></i>
    </div>
  </div>
</template>
