<template>
  <!-- BEGIN HEADER -->
  <div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
      <!-- BEGIN LOGO -->
      <div class="page-logo">
        <a href="/home">
          <img src="/static/logo.png" alt="logo" class="logo-default" height="30" style='margin-top:10px;margin-left:-10px;float:left' />
          <span style='margin-left:10px;margin-top:10px;color:white;font-size:10px;float:left'>Philippine College of <br/>Physicians</span>
        </a>
        <div class="menu-toggler sidebar-toggler"><span></span></div>
      </div>
      <!-- END LOGO -->
      <mega-menu />
      <search></search>
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
      </a>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <top-menu />
    </div>
    <!-- END HEADER INNER -->
  </div>
  <!-- END HEADER -->
</template>
<script>
import MegaMenu from './Menu/MegaMenu';
import TopMenu from './Menu/TopMenu';
import Search from './Search';

export default {
  components: { MegaMenu, TopMenu, Search, },
}
</script>
