<template>
  <div class='page-wrapper'>
    <page-header />
    <div class='clearfix'></div>
    <div class='page-container'>
      <sidebar />
      <div class='page-content-wrapper'>
        <slot />
      </div>
    </div>
    <!-- <page-footer /> -->
  </div>
</template>
<script>
import PageHeader from './Header';
import PageFooter from './Footer';
import Breadcrumbs from './Breadcrumbs';
import Sidebar from './Sidebar';

export default {
  components: { PageHeader, PageFooter, Breadcrumbs, Sidebar, },
}
</script>
