<template>
  <form class='search-form search-form-expanded' action='/members' method='GET'>
    <div class='input-group'>
      <input type='text' class='form-control' placeholder='Search member or doctor...' name='query'>
      <span class='input-group-btn'>
        <a href='javascript:;' class='btn submit'><i class='icon-magnifier'></i></a>
      </span>
    </div>
  </form>
</template>
