<template>
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
      <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
      <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
      <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
      <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
      <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
      <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
      <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <li class="sidebar-toggler-wrapper hide">
          <div class="sidebar-toggler"><span></span></div>
        </li>
        <!-- END SIDEBAR TOGGLER BUTTON -->
        <li class="nav-item start">
          <router-link to="/home" class="nav-link"><i class="icon-home"></i> <span class="title">Dashboard</span></router-link>
        </li>
        <li class="heading">
          <h3 class="uppercase">Features</h3>
        </li>
        <li class="nav-item">
          <router-link to="/members" class="nav-link">
              <i class="icon-diamond"></i> <span class="title">Members</span>
          </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/activities" class="nav-link">
              <i class="icon-diamond"></i> <span class="title">Activities</span>
            </router-link>
        </li>
        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link">
                <i class="icon-pointer"></i> <span class="title">Registration</span>
            </a>
        </li> -->
        <li class="nav-item">
            <router-link to="/payments" class="nav-link">
              <i class="icon-diamond"></i> <span class="title">Payments</span>
            </router-link>
            <!-- <a href="javascript:;" class="nav-link">
                <i class="icon-pointer"></i> <span class="title">Payments</span>
            </a> -->
        </li>
        <li class="nav-item">
            <router-link to="/reports" class="nav-link">
              <i class="icon-pointer"></i> <span class="title">Reports</span>
            </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/maintenance" class="nav-link">
            <i class="icon-diamond"></i> <span class="title">Maintenance</span>
          </router-link>
        </li>
        <li class="nav-item hidden">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i> <span class="title">Support</span><span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="form_controls.html" class="nav-link ">
                        <span class="title">Users</span>
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a href="components_color_pickers.html" class="nav-link ">
                        <span class="title">Color Pickers</span>
                        <span class="badge badge-danger">2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="form_controls_md.html" class="nav-link ">
                        <span class="title">Material Design
                            <br>Form Controls</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ui_tree.html" class="nav-link ">
                        <span class="title">Tree View</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title">Page Progress Bar</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item ">
                            <a href="ui_page_progress_style_1.html" class="nav-link "> Flash </a>
                        </li>
                        <li class="nav-item ">
                            <a href="ui_page_progress_style_2.html" class="nav-link "> Big Counter </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="maps_google.html" class="nav-link ">
                        <span class="title">Google Maps</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="maps_vector.html" class="nav-link ">
                        <span class="title">Vector Maps</span>
                    </a>
                </li>
                -->
            </ul>
        </li>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
  </div>
  <!-- END SIDEBAR -->
</template>
