<template>
  <layout>
    <div class='page-content'>
      <breadcrumbs />
      <h1 class='page-title'>Dashboard <small>statistics, charts, recent events and reports</small></h1>

      <div class='row'>
        <div class='col-md-6'>
          <payment-chart />
          <activity-calendar />
          <member-recent-list />
        </div>
        <div class='col-md-6'>
          <member-category-chart />
          <portlet class='light bordered' title='Membership' subtitle='yearly stats...'>
            <bar-chart />
          </portlet>
          <portlet class='light bordered' title='Logs' :tabs='[{ name: "System"}, { name: "Activities"}]' />
        </div>
      </div>
    </div>
  </layout>
</template>
<script>
import Layout, { Breadcrumbs } from '@/components/Layout';
import { Portlet } from '@/components/Material';
import { BarChart } from '@/components/Material/Chart';

import ActivityCalendar from './Activity/ActivityCalendar';
import PaymentChart from './Payment/PaymentChart';
import MemberCategoryChart from './Member/Chart/MemberCategory';
import MemberRecentList from './Member/RecentList';

export default {
  components: {
    Layout, Breadcrumbs, Portlet,
    BarChart,
    MemberCategoryChart, MemberRecentList,
    ActivityCalendar,
    PaymentChart,
  },
}
</script>
