<template>
  <layout>
    <div class='page-content'>
      <breadcrumbs />
      <h1 class='page-title'>Members</h1>

      <portlet class='light bordered' :tabs='categories' subtitle='Categories: '>
        <div slot='actions'>
          <div class='input-icon right input-inline'>
            <i class='icon-magnifier'></i>
            <input type='text'class='form-control input-xlarge' v-model='searchkey' @input='search' placeholder='Search member name...' />
          </div>
          <a class='btn btn-primary' @click.prevent='create'><i class='fa fa-plus'></i> Create member</a>
        </div>

        <div class='alert alert-success' v-if='notification' v-text='notification'></div>
        <member-form v-model='model' @submit='submit' @cancel='clear' :errors='errors' />

        <div class='row'>
          <div class='col-md-3' v-for='item in filtered'>
            <member-card :item='item' />
          </div>
        </div>
      </portlet>
      <!-- <ul class='pagination'>
        <li class='active'><a href='#'> 1 </a></li>
        <li><a href='#'> 2 </a></li>
        <li><a href='#'> 3 </a></li>
        <li><a href='#'> 4 </a></li>
      </ul> -->
    </div>
  </layout>
</template>
<script>
import { debounce, lowerCase } from 'lodash';
import { mapState, mapGetters, mapActions } from 'vuex';
import Layout, { Breadcrumbs } from '@/components/Layout';
import { Portlet } from '@/components/Material';
import ModelMixin from '@/mixins/model';

import MemberCard from './Member/Card';
import MemberForm from './Member/CreateFormModal';

export default {
  components: {
    Layout, Breadcrumbs, Portlet,
    MemberCard, MemberForm,
  },
  mixins: [ModelMixin, {
    computed: mapGetters({
      members: 'member/result',
      categories: 'catalog/member-category/result',
    }),
    methods: mapActions({
      preload: 'preload',
      query: 'member/query',
      save: 'member/save',
    }),
  }],
  data() {
    return { searchkey: '' }
  },
  computed: {
    filtered() {
      return this.members.filter(item => {
        return lowerCase(item.name).includes(lowerCase(this.searchkey));
      });
    }
  },
  mounted() {
    this.preload(['member', 'catalog/member-category']);
  },
  methods: {
    search: debounce(function() {
      this.query(this.searchkey);
    }, 500),
  }
}
</script>
