<template>
  <layout>
    <div class='page-content'>
      <breadcrumbs />
      <h1 class='page-title'> Member Profile <small></small></h1>
      <div class='row'>
        <div class='col-md-12'>
          <div class='profile-sidebar'>
            <div class='portlet light profile-sidebar-portlet '>
              <div class='profile-userpic'><img src='/static/avatar.png' class='img-responsive' /></div>
              <div class='profile-usertitle'>
                <div class='profile-usertitle-name' v-text='member.name'> </div>
                <div class='profile-usertitle-job' v-text='member.title'></div>
              </div>
              <div class='profile-userbuttons'>
                <a href='javascript:;' class='btn btn-sm green'>Active</a>
              </div>
              <div class='profile-usermenu'>
                <ul class='nav'>
                  <router-link tag='li' :to="{ name: 'member-overview', params: { id } }" active-class='active' exact>
                    <a><i class='icon-home'></i> Overview</a>
                  </router-link>
                  <router-link tag='li' :to="{ name: 'member-info', params: { id } }" active-class='active'>
                    <a><i class='icon-user'></i> Information</a>
                  </router-link>
                  <router-link tag='li' :to="{ name: 'member-due', params: { id } }" active-class='active'>
                    <a><i class='icon-settings'></i> Dues</a>
                  </router-link>
                  <router-link tag='li' :to="{ name: 'member-payment', params: { id } }" active-class='active'>
                    <a><i class='icon-settings'></i> Payments</a>
                  </router-link>
                  <li><a href='javascript:;'><i class='icon-settings'></i> Certification</a></li>
                </ul>
              </div>
            </div>
          </div>
          <router-view class='profile-content' />
          <!-- <div class='clearfix' /> -->
        </div>
      </div>
    </div>
  </layout>
</template>
<script>
import Layout from '@/components/Layout';
import Breadcrumbs from '@/components/Layout/Breadcrumbs';
import { mapState, mapGetters, mapActions } from 'vuex';

export default {
  components: { Layout, Breadcrumbs, },
  mixins: [{
    computed: mapGetters({
      member: 'member/current',
    }),
    methods: mapActions({
      show: 'member/show',
    }),
  }],
  props: {
    id: [Number, String],
  },
  mounted() {
    this.show(this.id).then(() => {
      // this.$store.dispatch('finance/member/due/query');
      this.$store.dispatch('finance/member/payment/query');
    });
  },
}
</script>
