<template>
  <layout>
    <div class='page-content'>
      <breadcrumbs />
      <h1 class='page-title'>Payments</h1>

      <portlet class='light bordered'>
        <div is='li' slot='tabs' class='active'><a href='#payment-list' data-toggle='tab'><!-- <i class='fa fa-th'></i> --> View all payments</a></div>
        <div is='li' slot='tabs'><a href='#payment-form' data-toggle='tab'><i class='fa fa-plus'></i> Create new payment</a></div>
        <div class='tab-content'>
          <payment-list id='payment-list' class='tab-pane active' />
          <payment-form id='payment-form' class='tab-pane' />
        </div>
      </portlet>
    </div>
  </layout>
</template>
<script>
import Layout, { Breadcrumbs } from '@/components/Layout';
import { Portlet } from '@/components/Material';

import PaymentList from './Payment/List';
import PaymentForm from './Payment/Form';

export default {
  components: {
    Layout, Breadcrumbs, Portlet,
    PaymentList, PaymentForm
  },
}
</script>
