<template>
  <!-- BEGIN MEGA MENU -->
  <!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
  <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
  <div class="hor-menu   hidden-sm hidden-xs">
    <ul class="nav navbar-nav">
      <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
      <li class="classic-menu-dropdown active" aria-haspopup="true">
        <a href="index.html"> Doctors' Relationship Management
          <span class="selected"> </span>
        </a>
      </li>
      <li class="classic-menu-dropdown" aria-haspopup="true">
        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"> Others
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-left">
          <li><a href="javascript:;"> <i class="fa fa-bookmark-o"></i> Chat </a></li>
          <li><a href="javascript:;"> <i class="fa fa-user"></i> Mail </a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- END MEGA MENU -->
</template>